<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <h1>About</h1>
    <br/>
    <p>This is express node and mongoose all combine project by using them here we created a blog website.it also include the better undersanding of Midelware and router requests and MVC. This project is super cool and i am having fun while building , i would like to thanks coding ninja for teach such kind of amazing things... <3  </p>
   
    <h4>Express</h4>
    <p>Express is use full to handel requests in node like 'GET', 'POST', 'DELETE' etc... we can use middelware in bitween those requests for that we can use morgen</p>
     
    <h4>Mongoose</h4>
    <p>mongoose is use full to store data its like an hosting, here we are using mongoose atlas for save our data.</p>

    <h4>NODE</h4>
    <p>As bakand we are using the NODE as surver</p>

    <h4>Thank YOU.</h4>

    <%- include('./partials/footer.ejs') %>

</body>

</html>